@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Itim", cursive;
  line-height: 1.5;
}

body {
  background-color: #36393f;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #3ba55c;
}

span {
  margin: 0.25em;
  font-weight: 100;
}

::-webkit-scrollbar {
  width: 1em;
  height: 1em;
}

::-webkit-scrollbar-track {
  background: #3ba55c;
}

::-webkit-scrollbar-thumb {
  background: #36393f;
  border: #3ba55c solid 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #23272a;
}

#bar {
  position: fixed;
  width: 100%;
  height: 50px;
  transition: 0.15s;
  background-color: #23272a;
  border: solid #3ba55c 1px;
  color: #3ba55c;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: 100000;
}

#crossIcon {
  display: none;
}

i {
  font-size: x-large;
  cursor: pointer;
  margin-right: 1em;
}
#vpravoIcon {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 0;
  padding: 0;
  height: 50px;
  width: 80%;
  float: right;
  transition: 1s;
}

#vpravoIcon > i {
  transform: scale(0.9);
}
#vlevoIcon {
  height: 50px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 1em;
  float: left;
}

#podMenu {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*display: none;*/
  opacity: 0;
}

/* obsah */

#neco {
  width: 100%;
  border: solid #36393f 1px;
  background-color: #36393f;
  color: white;
}

#text {
  margin-top: 70px;
  width: 50%;
  display: block;
  margin: 5em auto;
  text-align: center;
}

/* obsah */

/*   Resp   */

@media only screen and (max-width: 1200px) {
  #vpravoIcon {
    opacity: 0;
  }
}

/*   Resp   */
/*   Animace nadtrhnutí   */

.nadtrh {
  position: relative;
}
.nadtrh > a {
  transition: 0.2s;
}

#vpravoIcon > .nadtrh > a:hover {
  color: #20813e;
  font-size: xx-large;
}

.nadtrh::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background-color: #3ba55c;
  top: -15px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nadtrh:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/*   Animace nadtrhnutí   */

/*  Skewed bar */

.skew {
  isolation: isolate;
  position: relative;
  text-align: center;
  padding: 4rem;
}

.inText::after {
  content: "";
  background-image: linear-gradient(90deg, #36393f, #3ba55c, #36393f);
  position: absolute;
  inset: 0;
  transform: skewY(5deg);
  z-index: -1;
  border: solid white 0px;
  min-height: 200px;
}

.inText {
  max-width: 60%;
  margin: auto;
  color: white;
  text-shadow: black 1px 0 10px;
  font-size: 1.2em;
}
/*  Skewed bar */

#hi {
  padding-top: 1em;
  margin: 6em;
  text-align: center;
  letter-spacing: 5px;
  color: white;
  font-weight: 200;
  transform: scale(1.2);
  background: -webkit-linear-gradient(white, #3ba55c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: #3ba55c 1px 0 10px;
  font-size: 1.2em;
}

@media only screen and (max-width: 900px) {
  #hi {
    font-size: 0.9em;
  }
}

.title {
  text-align: center;
  letter-spacing: 5px;
  font-size: 2rem;
  margin-top: 1em;
}

#contain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 3em;
}
#containD {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3em;
  transition: 500ms;
}

#first,
#second,
#third,
#fourth,
#fifth,
#sixth,
#seventh,
#eight {
  min-height: 300px;
  width: 400px;
  margin: 2em;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  border: #3ba55c solid 2px;
}

#tenth,
#eleventh {
  min-height: 400px;
  width: 900px;
  margin: 2em;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  border: #3ba55c solid 2px;
 background: #007991; 
 background: -webkit-linear-gradient(to right, #78ffd6, #007991);  
 background: linear-gradient(to right, #78ffd6, #007991);
 
}

#first {
  background-color: #a2edfc;
}
#second {
  background-color: #fcaea2;
}
#third {
  background-color: #fcf6a2;
}
#fourth {
  background-color: #fcc3a2;
}
#fifth {
  background-color: #757e7e;
}
#sixth {
  background-color: #fca2a2;
}
#seventh {
  background-color: #a2e7fc;
}
#eight {
  background-color: #dfa2fc;
}

#first:hover,
#second:hover,
#third:hover,
#fourth:hover,
#fifth:hover,
#sixth:hover,
#seventh:hover,
#eight:hover,
#tenth:hover,
#eleventh:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 1200px) {
  #contain {
    flex-direction: column;
  }
}

.nahoreCard {
  height: 150px;
  width: 100%;
  position: relative;
}

.obrCardContain {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 150px;
  width: 150px;
}

.obrCard {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.contcCard {
  padding: 25px;
}

.nadpisCard {
  font-weight: bold;
  font-size: 27px;
  margin-bottom: 10px;
  color: #363535;
  text-align: center;
}
.nadpisCardD {
  font-weight: bold;
  font-size: 27px;
  margin-bottom: 10px;
  color: #363535;
  text-align: center;
}

.textCard {
  font-size: 16px;
  margin: 0;
  color: #000;
}
.textCardD {
  font-size: 16px;
  margin: 0;
  color: black;
  padding: 0.5em;
}

#footer {
  position: absolute;
  bottom: 0;
  border-top: solid rgb(157, 150, 150) 1px;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 2em;
  color: white;
  font-size: 1.2em;
  letter-spacing: 3px;
  background-color: #313336;
  opacity: 0.95;
}

#obrHolder {
  background: url("../img/weatherApp.png") center center no-repeat;
  width: 800px;
  height: 500px;
  margin: auto;
  transition: 500ms;
}
#obrHolderD {
  background: url("../img/spsmb.png") center center no-repeat;
  width: 800px;
  height: 500px;
  margin: auto;
  transition: 500ms;
}

@media only screen and (max-width: 1020px) {
  #obrHolder {
    transform: scale(0.8);
  }
  #obrHolderD {
    transform: scale(0.8);
  }
  #containD {
    transform: scale(0.8);
    margin-top: -200px;
  }
  .textCardD {
    font-size: 20px;
  }
}
@media only screen and (max-width: 776px) {
  #obrHolder {
    transform: scale(0.94);
  }
  #obrHolderD {
    transform: scale(0.94);
  }
  #containD {
    transform: scale(0.5);
    margin-top: -500px;
    margin-bottom: -400px;
  }
  .textCardD {
    font-size: 30px;
  }
  .nadpisCardD {
    font-size: 40px;
  }
}
@media only screen and (max-width: 490px) {
  #obrHolder {
    display: none;
  }
  #obrHolderD {
    display: none;
  }
  #containD {
    margin-top: -270px;
    margin-bottom: -70px;
  }
  #hi {
    display: none;
  }
  #containD {
    transform: scale(0.4);
  }
}


p > a{

color: white;

}