@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Itim", cursive;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: #3ba55c;
}

span {
  margin: 0.25em;
  font-weight: 100;
}

#bar {
  position: fixed;
  width: 100%;
  height: 50px;
  transition: 0.15s;
  background-color: #23272a;
  border: solid #3ba55c 1px;
  color: #3ba55c;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: 100000;
}

#crossIcon {
  display: none;
}

i {
  font-size: x-large;
  cursor: pointer;
  margin-right: 1em;
}
#vpravoIcon {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 0;
  padding: 0;
  height: 50px;
  width: 80%;
  float: right;
  transition: 1s;
}

#vpravoIcon > i {
  transform: scale(0.9);
}
#vlevoIcon {
  height: 50px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 1em;
  float: left;
}

#podMenu {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*display: none;*/
  opacity: 0;
  
}

/* obsah */

#neco {
  width: 100%;
  height: 100vh;
  border: solid black 1px;
  background-color: #36393f;
  color: white;
}

#text {
  margin-top: 70px;
  width: 50%;
  display: block;
  margin: 5em auto;
  text-align: center;
}

/* obsah */

/*   Resp   */

@media only screen and (max-width: 1200px) {
  #vpravoIcon {
    opacity: 0;
  }
}

/*   Resp   */
/*   Animace nadtrhnutí   */

.nadtrh {
  position: relative;
}

.nadtrh::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background-color: #3ba55c;
  top: -15px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nadtrh:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/*   Animace nadtrhnutí   */


/*  Skewed bar */


.skew {
  isolation: isolate;
  position: relative;
  text-align: center;
  padding: 4rem;
}

.inText::after {
  content: "";
  background-image: linear-gradient(90deg, #36393f, #3ba55c, #36393f);
  position: absolute;
  inset: 0;
  transform: skewY(5deg);
  z-index: -1;
  border: solid white 0px;
  min-height: 200px;
}

.inText {
  max-width: 60%;
  margin: auto;
}
/*  Skewed bar */